@media(max-width:1200px) {
}
@media(max-width:991px) {
}
@media(max-width:767px) {
    .company-action .btn {
        font-size: .75rem;
        line-height: 1.5;
        padding: .25rem .5rem;
    }
}
@media(max-width:640px) {
    .hero-img {
        min-height: 1px;
        padding: 48px 24px;
    }
}
@media(max-width:480px) {
    .company-search-form {
        max-width: 300px;
        width: 100%;
    }
    .hero-title {
        font-size: 18px;
    }
    .pagination-list li a {
        min-width: 24px;
        height: 24px;
        line-height: 22px;
        margin: 2px;
    }
    .tabs ul {
        padding: 12px 8px;
    }
    .tabs ul li {
        padding: 4px;
    }
    .tabs ul li a {
        padding: 8px;
        font-size: 12px;
    }
    .company-info__name {
        flex-flow: column;
        align-items: flex-start;
    }
    .company-info__name a {
        font-size: 14px;
    }
    .company-info__rating {
        margin-left: 0;
    }
    .company-info__rating-count {
        padding: 0 4px;
        min-width: 20px;
        font-size: 10px;
    }
    .company-info__logo.image.is-64x64 {
        width: 48px;
        height: 48px;
    }
    .company-info__other span, .company-info__location {
        font-size: 13px;
    }

    .card-footer-action > a[data-reaction="SHOULD_DELETE"] {
        margin-left: 0;
    }
}
