<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="image(imageName)">
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}">
        <img th:src="${imageName}"/>
    </th:block>
    <th:block th:unless="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}">
        <img alt="This available in dev mode" th:src="@{/App/images/companies/reviewcongty.png}">
    </th:block>
</th:block>

</body>
</html>