<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="card bg-light-cust" th:fragment="recently-review(recentlyReviews)">
    <div class="card-header p-2">
        <h5 class="h3 mb-0 text-center reviews__header text-uppercase text-uppercase"
            th:text="#{index.recently_reviews}"></h5>
    </div>
    <div class="card-body p-3">
        <th:block th:each="review : ${recentlyReviews}">
            <div class="review mb-3 border-bottom">
                <h4 class="mb-0 font-normal">
                    <span class="font-bold"><span th:remove="tag" th:text="${review.name} ?: #{anonymous}"></span>
                    </span> [[#{review.reviewed}]]
                    <a class="text-main" th:href="@{/companies/{id}(id=${review.companyId})}">
                        <span th:remove="tag" th:text="${review.companyName}"></span>
                    </a>
                </h4>
                <p class="mb-1"><span th:remove="tag"
                                      th:text="${T(com.reviewcongty.backend.web.util.TimeUtils).getRelativeTime(review.created)}"></span>
                    <span>
                        <th:block th:insert="~{fragments/rating-bar :: rating-bar(${review.rating})}"></th:block>
                    </span>
                </p>
                <p th:utext="${#strings.abbreviate(review.content, 150)}"></p>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>