<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="full-reviews" th:fragment="review-list(items)">
    <th:block th:each="item : ${items}" th:object="${item}">
        <div class="review card">
            <header class="border-0 card-header px-3 py-2 d-flex flex-column align-items-start justify-content-between">
                <p class="card-header-title mb-0">
                    <b class="mr-2">
                        <th:block th:text="*{name} ?: 'Ẩn danh'"></th:block>
                        <th:block th:if="*{position}">
                            -
                            <th:block th:text="*{position}"></th:block>
                        </th:block>

                    </b>
                    <span>
                    <th:block th:insert="~{fragments/rating-bar :: rating-bar(*{rating})}"></th:block>
                </span>
                </p>
                <div class="review-sub-info">
                    <time class="review__time">
                    <span th:remove="tag"
                          th:text="${T(com.reviewcongty.backend.web.util.TimeUtils).getRelativeTime(item.created)}"></span>
                    </time>
                </div>
            </header>
            <div class="card-body px-3 pt-0 pb-2 border-0">
                <div class="content text-500">
                    <div id="">
                        <span th:utext="*{content}"></span>
                    </div>
                </div>
            </div>
            <footer class="card-footer px-3 py-2 border-0 d-flex justify-content-between align-items-center">
                <div class="card-footer-action">
                    <a class="link-comment card-footer-item clickable" data-id="" data-prefill=""
                       data-reaction="" href="#" th:review-id="*{id}">
                        <span class="icon-reply ic text-info">
                            <i class="fa fa-commenting">
                            </i>
                        </span> Reply
                    </a>
                    <a class="link-reaction card-footer-item clickable" data-id=""
                       data-prefill="Bác nói đúng vãi, tặng 1 like" data-reaction="LIKE"
                       href="#" th:review-id="*{id}">
                        <th:block th:text="*{numLikes}"></th:block>
                        <span class="icon-like ic text-success">
                            <i class="fa fa-thumbs-up">
                            </i>
                        </span>
                    </a>
                    <a class="link-reaction card-footer-item clickable" data-id=""
                       data-prefill="Review nhảm nhí, dislike" data-reaction="DISLIKE"
                       href="#" th:review-id="*{id}">
                        <th:block th:text="*{numDislikes}"></th:block>
                        <span class="icon-dislike ic text-danger">
                            <i class="fa fa-thumbs-down">
                            </i>
                        </span>
                    </a>
                    <a class="link-reaction card-footer-item clickable" data-id="" data-prefill="Xóa review này giùm!"
                       data-reaction="SHOULD_DELETE" href="#" th:review-id="*{id}">
                        <th:block th:text="*{numDeleteRequests}"></th:block>
                        <span class="icon-ban ic">
                            <i class="fa fa-close text-danger">
                            </i>
                        </span>
                    </a>
                </div>
            </footer>
            <div class="review-comments" th:if="${item.replies.size() > 0}">
                <th:block th:each="reply : ${item.replies}">
                    <div class="comment">
                        <p class="comment__title">
                            <span>
                                <span class="font-bold"
                                      th:text="${reply.name ?: 'Ẩn danh'}">
                                </span>
                                <span th:if="${reply.reaction} eq 'LIKE'"> đã 👍 Like
                                </span>
                                <span th:if="${reply.reaction} eq 'DISLIKE'"> đã 👎 Đếch lai
                                </span>
                                <span th:if="${reply.reaction} eq 'SHOULD_DELETE'"> đã ❌ Yêu cầu xóa
                                </span>
                            </span>
                            <span class="text-muted rv-cmt-time"
                                  th:text="${T(com.reviewcongty.backend.web.util.TimeUtils).getRelativeTime(reply.created)}"></span>
                        </p>
                        <p class="comment__content text-500" th:text="${reply.content}"></p>
                    </div>
                </th:block>
            </div>
        </div>
    </th:block>
</div>

</body>
</html>