<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="hero-img">
    <div class="hero-body z-1">
        <h1 class="mb-3 hero-title text-white text-center">
            Review lương bổng, đãi ngộ, HR, tuyển dụng, sếp và công việc,... gì cũng có
        </h1>
        <div id="search-bar" style="position: relative">
        </div>
    </div>
    <div class="hero-img__gradient">
    </div>
    <script type="module">
        import {h, Component, render} from 'https://unpkg.com/preact?module';
        import htm from 'https://unpkg.com/htm?module';

        // Initialize htm with Preact
        const html = htm.bind(h);
        const isProduct = [[${#arrays.contains(@environment.getActiveProfiles(), 'prod')}]];
        const baseImageUrl = '[[@{/content/images}]]';
        const baseHref = '[[@{/}]]';

        const buildImageUrl = imageName => {
            if (isProduct) {
                return baseImageUrl + "/" + imageName
            } else {
                return '/content/App/images/companies/reviewcongty.png';
            }
        };

        class SearchBar extends Component {

            state = {
                inputText: ''
            };

            searchTask = undefined;

            onChangeText = e => {
                const {value} = e.target;
                this.setState({inputText: value})
                console.log(this.state.inputText)

                clearTimeout(this.searchTask)
                this.searchTask = setTimeout(() => {
                    fetch(`/api/companies/search?q=${value}`)
                        .then(res => res.json())
                        .then(companies => this.setState({companies}))
                }, 1000)
            };

            handleOnClick = companyId => {
                window.location.href = baseHref + "companies/" + companyId;
            };

            componentWillUnmount() {
                clearTimeout(this.searchTask)
            }

            render(props, {inputText, companies = []}) {
                return html`
                 <div class="company-search-form">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input autocomplete="off" class="form-control" name="company-search" placeholder="Tìm công ty" type="text"
                    value=${inputText} onInput=${this.onChangeText}
                    />
                </div>
                <div class="autocomplete-suggestions" id="search-result">
                    ${companies.map(company => html`
                        <div class="autocomplete-suggestion " onclick=${()=>this.handleOnClick(company.id)} >
                            <figure class="company-logo image is-32x32">
                                <img src=${buildImageUrl(company.imageName)} />
                            </figure>
                            <span class="company-name">${company.name}</span>
                        </div>
                    `)}

                </div>`;
            }
        }

        render(html`<${SearchBar} />`, document.getElementById("search-bar"));
    </script>

</section>
</body>
</html>