<!DOCTYPE html>
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #main}
                                               )}"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Review công ty
        <th:block th:text="${company.name}"></th:block>
    </title>
</head>

<body>

<div id="main" th:object="${company}">
    <div class="page-title mt--4">
        <div class="container">
            <ol class="breadcrumb bg-transparent m-0 px-0 py-3">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Review Công ty FSI</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card p-0 ov-h mb-3">
            <div class="card-body p-0">
                <div class="company-item d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between">
                    <div class="company-info mb-2 mb-sm-0">
                        <figure class="company-info__logo image is-64x64">
                            <th:block th:insert="~{fragments/general :: image(*{imageName})}"></th:block>
                        </figure>
                        <div class="company-info__detail">
                            <h2 class="company-info__name">
                                <a th:href="@{/companies/{id}(id=*{id})}">
                                    <span th:remove="tag" th:text="*{name}"></span>
                                </a>
                                <span class="company-info__rating">
                                    <th:block th:insert="~{fragments/rating-bar :: rating-bar(*{rating})}"></th:block>
                                    <span class="company-info__rating-count">
                                        <span th:remove="tag" th:text="*{ratingCount}"></span>
                                    </span>
                                </span>
                            </h2>
                            <div class="company-info__other d-flex">
                                                <span class="d-flex align-items-center">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-work.svg}">
                                                    </span> <span th:remove="tag" th:text="*{companyType}"></span>
                                                </span>
                                <span class="d-flex align-items-center">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-users-2.svg}">
                                                    </span> <span th:remove="tag" th:text="*{size}"></span>
                                                </span>
                            </div>
                            <div class="company-info__location d-flex">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-place.svg}">
                                                    </span> <span th:remove="tag" th:text="*{address}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="company-action d-flex flex-row flex-sm-column flex-md-row align-items-center align-items-sm-end align-items-md-center justify-content-end">
                        <a class="mb-0 mb-sm-2 mb-md-0 font-normal btn btn-success rounded-circle button-review"
                           data-target="#Write-review"
                           data-toggle="modal" href="#">
                            <span class="ic"> <i class="fa fa-pencil"></i> </span> <span>Viết review</span>
                        </a>
                        <a class="mb-0 mb-sm-0 mb-md-0 font-normal btn btn-outline-secondary rounded-circle button-subscribe"
                           href="#">
                            <span class="ic"> <i class="fa fa-bell-o"></i> </span> <span>Nhận thông báo</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body detail-switch-nav px-3 py-0">
                <ul class="list-unstyled mb-0">
                    <li class="active">
                        <a class="detail-switch-cmt" data-target="ds-cmt" href="#" title="Xem review">
                            <span>Reviews</span>
                        </a>
                    </li>
                    <li>
                        <a class="detail-switch-qa" data-target="ds-qa" href="#" title="Xem Q&A">
                            <span>Coming soon</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="comments-content" id="ds-cmt">
            <div class="pl-1">
                <th:block
                        th:insert="~{fragments/pagination :: pagination (${reviewPage.number + 1}, ${reviewPage.totalPages})}"></th:block>
            </div>

            <th:block
                    th:insert="~{fragments/review-list :: review-list (${reviewPage.content})}"></th:block>
            <div class="pl-1">
                <th:block
                        th:insert="~{fragments/pagination :: pagination (${reviewPage.number + 1}, ${reviewPage.totalPages})}"></th:block>
            </div>
        </div>

        <script type="text/javascript">
            var reviewApiUrl = '[[@{/api/companies/{id}/reviews(id=${company.id})}]]'
        </script>

        <!-- Modal #Write-review -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Write-review" role="dialog"
             tabindex="-1">
            <script defer type="module">
                import {h, Component, render} from 'https://unpkg.com/preact?module';
                import htm from 'https://unpkg.com/htm?module';

                const html = htm.bind(h);

                class WriteReviewForm extends Component {
                    state = {
                        name: '',
                        position: '',
                        content: '',
                        rating: 3,
                        error: undefined
                    };

                    onChange = property => e => {
                        this.setState({
                            error: undefined,
                            [property]: e.target.value
                        })
                    };

                    onSubmit = () => {
                        let {name, position, rating, content} = this.state;

                        name = name.trim();
                        position = position.trim();
                        rating = parseInt(rating);
                        content = content.trim();

                        name = name === "" ? null : name;
                        position = position === "" ? null : position;

                        if (!content) {
                            this.setState({error: "Nội dung không được trống"})
                            return;
                        }
                        if (content.length < 10) {
                            this.setState({error: "Nội dung phải lơn hơn 10 ký tự"})
                            return;
                        }

                        (async () => {
                            const rawResponse = await fetch(reviewApiUrl, {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    name, position, rating, content
                                })
                            });
                            const status = rawResponse.status;

                            if (status === 200) {
                                location.reload();
                                return;
                            }

                            // handler error
                            const result = await rawResponse.json();
                            console.log(result);
                            if (status === 400) {
                                let error = result.message;
                                if (result.errors) {
                                    error = result.errors.map(e => e.defaultMessage).join(", ");
                                }
                                this.setState({error})
                            } else {
                                this.setState({error: "Đã có lỗi xảy ra"})
                            }


                        })();


                    };

                    render(props, {name, position, content, rating, error}) {
                        return html`
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="">Viết Review công ty FSI</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ${error ? html`
                                            <p style="color: #a71d2a">Có lỗi xảy ra: ${error}</p>
                                        ` : ''}
                                        <form>
                                            <div class="form-group">
                                                <label class="font-bold" for="name">Tên họ</label>
                                                <input class="form-control" id="name"
                                                       placeholder="Muốn xưng tên thật thì xưng không thì thui" type="text"
                                                       value=${name} onInput="${this.onChange("name")}" />
                                            </div>
                                            <div class="form-group">
                                                <label class="font-bold" for="position">Chức vụ</label>
                                                <input class="form-control" id="position" placeholder="Dev quèn / HR hay Manager"
                                                       type="text" value=${position} onInput="${this.onChange("position")}" />
                                            </div>
                                            <div class="form-group">
                                                <label class="font-bold" for="DETAIL">Review công ty <span class="text-danger">(Bắt buộc)</span></label>
                                                <textarea class="form-control" id="DETAIL"
                                                          placeholder="Bức xúc hay gì thì viết dài dài vô (Tối thiểu 10 kí tự). Nếu muốn xin review, cứ bấm nút [Nhận thông báo] nha!!"
                                                          rows="3" value=${content} onInput="${this.onChange("content")}">
                                                </textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-bold" for="point">Cho điểm công ty</label>
                                                <select class="form-control" id="point" value="${rating}" onChange="${this.onChange("rating")}">
                                                    <option value="1">1 điểm - Max sida, né gấp kẻo hối hận</option>
                                                    <option value="2">2 điểm - Hết thuốc chữa, đang tính đường chuồn</option>
                                                    <option value="3">3 điểm - Cũng tạm, để coi sao</option>
                                                    <option value="4">4 điểm - Cũng ngon, nên làm lâu dài</option>
                                                    <option value="5">5 điểm - Công ty tuyệt cmn vời, đuổi cũng méo đi</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="g-recaptcha" data-sitekey="6LeXG-UUAAAAAC786AOEE0fjPH93ohYnbpEj9CxD"></div>
                                            </div>
                                            <div class="form-group">
                                                <p class="mb-0">
                                                    Người đăng chịu trách nhiệm về tính xác thực của nội dung chứ
                                                    <b>bên mình không có chịu</b>, okay?
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy bỏ</button>
                                        <button class="btn btn-primary" type="button" onClick="${this.onSubmit}">Đăng review</button>
                                    </div>
                                </div>
                            </div>
                        `
                    }
                }

                render(html`<${WriteReviewForm} />`, document.getElementById("Write-review"))
            </script>

        </div>
        <!-- Modal #Write-comment -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Write-comment" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="font-bold" for="name">Tên họ</label>
                                <input class="form-control" id="name"
                                       placeholder="Muốn xưng tên thật thì xưng không thì thui" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="DETAIL">Comment <span
                                        class="text-danger">(Bắt buộc)</span></label>
                                <textarea class="form-control" id="DETAIL"
                                          placeholder="Bức xúc hay gì thì viết dài dài vô (Tối thiểu 10 kí tự)."
                                          rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="review-reaction">Bày tỏ thái độ</label>
                                <select class="form-control" id="review-reaction">
                                    <option selected="" value="LIKE">👍 Like</option>
                                    <option value="HATE">👎 Đếch lai</option>
                                    <option value="DELETE">❌ Xóa giùm</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LeXG-UUAAAAAC786AOEE0fjPH93ohYnbpEj9CxD"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy bỏ</button>
                        <button class="btn btn-primary" type="button">Đăng comment</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

</body>

</html>