<!DOCTYPE html>
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #static-resources},
                                                ~{:: #main},
                                                ~{:: #other-scripts}
                                               )}"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>
        <th:block th:text="#{website.name}"></th:block>
        -
        <th:block th:text="${company.name}"></th:block>
    </title>
    <th:block id="static-resources">
        <script async defer src="https://www.google.com/recaptcha/api.js"></script>
    </th:block>
</head>

<body>

<div id="main" th:object="${company}">
    <div class="page-title mt--4">
        <div class="container">
            <ol class="breadcrumb bg-transparent m-0 px-0 py-3">
                <li class="breadcrumb-item"><a href="/">[[#{homepage}]]</a></li>
                <li class="breadcrumb-item active">[[#{company.review}]] [[${company.name}]]</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card p-0 ov-h mb-3">
            <div class="card-body p-0">
                <div class="company-item d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between">
                    <div class="company-info mb-2 mb-sm-0">
                        <figure class="company-info__logo image is-64x64">
                            <th:block th:insert="~{fragments/general :: image(*{imageName})}"></th:block>
                        </figure>
                        <div class="company-info__detail">
                            <h2 class="company-info__name">
                                <a th:href="@{/companies/{id}(id=*{id})}">
                                    <span th:remove="tag" th:text="*{name}"></span>
                                </a>
                                <span class="company-info__rating">
                                    <th:block th:insert="~{fragments/rating-bar :: rating-bar(*{rating})}"></th:block>
                                    <span class="company-info__rating-count">
                                        <span th:remove="tag" th:text="*{ratingCount}"></span>
                                    </span>
                                </span>
                            </h2>
                            <div class="company-info__other d-flex">
                                                <span class="d-flex align-items-center">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-work.svg}">
                                                    </span> <span th:remove="tag" th:text="*{companyType}"></span>
                                                </span>
                                <span class="d-flex align-items-center">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-users-2.svg}">
                                                    </span> <span th:remove="tag" th:text="*{size}"></span>
                                                </span>
                            </div>
                            <div class="company-info__location d-flex">
                                                    <span class="ic">
                                                        <img th:src="@{/content/App/svg/rv-place.svg}">
                                                    </span> <span th:remove="tag" th:text="*{address}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="company-action d-flex flex-row flex-sm-column flex-md-row align-items-center align-items-sm-end align-items-md-center justify-content-end">
                        <a class="mb-0 mb-sm-2 mb-md-0 font-normal btn btn-success rounded-circle button-review"
                           data-target="#Write-review"
                           data-toggle="modal" href="#">
                            <span class="ic"> <i class="fa fa-pencil"></i> </span> <span>[[#{review.write}]]</span>
                        </a>
                        <a class="mb-0 mb-sm-0 mb-md-0 font-normal btn btn-outline-secondary rounded-circle button-subscribe"
                           href="#">
                            <span class="ic"> <i class="fa fa-bell-o"></i> </span>
                            <span>[[#{review.get_notifications}]]</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body detail-switch-nav px-3 py-0">
                <ul class="list-unstyled mb-0">
                    <li class="active">
                        <a class="detail-switch-cmt" data-target="ds-cmt" href="#"
                           th:title="#{company.tab.review.title}">
                            <span>[[#{company.tab.review}]]</span>
                        </a>
                    </li>
                    <li>
                        <a class="detail-switch-qa" data-target="ds-qa" href="#" title="Xem Q&A">
                            <span>Coming soon</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="comments-content" id="ds-cmt">
            <div class="pl-1">
                <th:block
                        th:insert="~{fragments/pagination :: pagination (${reviewPage.number + 1}, ${reviewPage.totalPages})}"></th:block>
            </div>

            <th:block
                    th:insert="~{fragments/review-list :: review-list (${reviewPage.content})}"></th:block>
            <div class="pl-1">
                <th:block
                        th:insert="~{fragments/pagination :: pagination (${reviewPage.number + 1}, ${reviewPage.totalPages})}"></th:block>
            </div>
        </div>

        <!-- Modal #Write-review -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Write-review" role="dialog"
             style="height: 100%" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="">
                            [[#{review.form.write_review}]] [[${company.name}]]
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form id="write-review-form" method="post"
                              th:action="@{/api/companies/{id}/reviews(id=${company.id})}">
                            <div class="form-group">
                                <label class="font-bold" for="name">[[#{review.form.field.name}]]</label>
                                <input class="form-control" name="name"
                                       th:placeholder="#{review.form.field.name.placeholder}" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="position">[[#{review.form.field.position}]]</label>
                                <input class="form-control" id="position" name="position"
                                       th:placeholder="#{review.form.field.position.placeholder}"/>
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="DETAIL">[[#{review.form.field.content}]] <span
                                        class="text-danger">([[#{form.required}]])</span></label>
                                <textarea class="form-control" name="content"
                                          th:placeholder="#{review.form.field.content.placeholder}"
                                          rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="point">[[#{review.form.field.rating}]]</label>
                                <select class="form-control" id="point" name="rating">
                                    <option value="1">[[#{review.form.field.position.point1}]]</option>
                                    <option value="2">[[#{review.form.field.position.point2}]]</option>
                                    <option selected value="3">[[#{review.form.field.position.point3}]]</option>
                                    <option value="4">[[#{review.form.field.position.point4}]]</option>
                                    <option value="5">[[#{review.form.field.position.point5}]]</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha"
                                     th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>
                            </div>
                            <div class="form-group">
                                <p class="mb-0" th:utext="#{review.form.note}">
                                </p>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            [[#{review.form.button.cancel}]]
                        </button>
                        <button class="btn btn-primary" onclick="handleSubmitWriteNewReview()" type="button">
                            [[#{review.form.button.post}]]
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal #Write-comment -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Write-comment" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="write-reply-form">
                            <input name="review-id" type="hidden" value="">
                            <div class="form-group">
                                <label class="font-bold" for="name">[[#{comment.form.field.name}]]</label>
                                <input class="form-control" id="name" name="name"
                                       th:placeholder="#{comment.form.field.name.placeholder}" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="font-bold" for="DETAIL">[[#{comment.form.field.content}]] <span
                                        class="text-danger">(Bắt buộc)</span></label>
                                <textarea class="form-control" id="DETAIL" name="content"
                                          th:placeholder="#{comment.form.field.content.placeholder}"
                                          rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="font-bold"
                                       for="review-reaction">[[#{comment.form.field.reaction}]]</label>
                                <select class="form-control" id="review-reaction" name="reaction">
                                    <option selected="" value="">[[#{comment.form.field.reaction.neutral}]]</option>
                                    <option value="LIKE">[[#{comment.form.field.reaction.like}]]</option>
                                    <option value="DISLIKE">[[#{comment.form.field.reaction.dislike}]]</option>
                                    <option value="SHOULD_DELETE">[[#{comment.form.field.reaction.should_delete}]]
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha"
                                     th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            [[#{comment.form.button.cancel}]]
                        </button>
                        <button class="btn btn-primary" onclick="handleCreateNewReply()" type="button">
                            [[#{comment.form.button.post}]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal #Reaction-review -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="Reaction-review"
             role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <input name="review-id" type="hidden" value=""/>
                            <input name="reaction" type="hidden" value=""/>
                            <div class="form-group">
                                <div class="g-recaptcha"
                                     th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            [[#{reaction.form.button.cancel}]]
                        </button>
                        <button class="btn btn-primary" onclick="handleReaction()" type="button">
                            [[#{reaction.form.button.post}]]
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<th:block id="other-scripts">
    <script th:src="@{/content/App/js/review.js}" type="text/javascript">
    </script>
</th:block>

</body>

</html>