<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Review công ty - Giải đáp thắc mắc
    </title>
    <meta content="Review công ty - Giải đáp thắc mắc" name="description">
    <link href="canonical_url" rel="canonical">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="Assets/App/images/favicon.png" rel="icon" type="image/x-icon"/>
    <link href="Assets/Lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="Assets/Lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="Assets/App/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="Assets/App/css/responsive.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="wrapper-container mobilenav-wrapper header-fixed">
    <div id="page-wrapper">
        <header class="header">
            <div class="container">
                <div class="header-content py-2">
                    <div class="header-left">
                        <a class="Izone-logo d-flex align-items-center justify-content-start" href="index.html"
                           title="Home page">
                            <img alt="Izone" class="mr-3" src="Assets/App/images/logo.png">
                            <h2 class="text-white font-light mb-0">Review công ty
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="fix-header">
        </div>
        <section id="site-content">
            <div id="main">
                <div class="page-title mt--4">
                    <div class="container">
                        <ol class="breadcrumb bg-transparent m-0 px-0 py-3">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Giải đáp thắc mắc</li>
                        </ol>
                    </div>
                </div>
                <section class="main_page_colum_layout">
                    <section class="news_post_main">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="article-header">
                                                <h1>
                                                    Giải đáp thắc mắc
                                                </h1>
                                                <div class="post-share">
                                                    <div class="addthis_inline_share_toolbox"></div>
                                                </div>
                                                <div class="post-sumary font-bold"><!-- get post-sumary form backend -->
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="post-detail mb-4"> <!-- get post form backend -->
                                                <div class="pre-line">
                                                    <div class="help-section">
                                                        <p class="question font-bold">
                                                            1. Có công ty tôi muốn review nhưng không thấy trên trang
                                                            này?
                                                        </p>
                                                        <p class="answer">
                                                            Bạn vui lòng gửi mail tới <a
                                                                href="mailto:company@reviewcongty.com?Subject=Thêm%20công%20ty">company@reviewcongty.com</a>
                                                            với tiêu đề "Thêm công ty".
                                                            Nội dung email gồm thông tin thêm về công ty như về tên công
                                                            ty, địa điểm, website nhé.
                                                        </p>
                                                        <p class="question font-bold">
                                                            2. Tôi muốn xóa review/ban user nào đó?
                                                        </p>
                                                        <p class="answer">
                                                            Quý vị vui lòng sử dụng <b>email của công ty</b> để gửi mail
                                                            tới <a
                                                                href="mailto:deletecomment@reviewcongty.com?Subject=Yêu%20cầu%20xóa%review">deletecomment@reviewcongty.com</a>
                                                            với tiêu đề "Yêu cầu xóa review"<br>
                                                            Việc xóa review sẽ được thực hiện tùy thuộc vào nội dung
                                                            review và thái độ của quí vị/quí công ty.<br>
                                                            Chúng tôi không lưu trữ bất kì thông tin nào của người dùng
                                                            nên không thể ban bất kì người dùng
                                                            nào.
                                                        </p>
                                                        <p class="question font-bold">
                                                            3. Nội dung đăng tải trên trang này có chính xác không?
                                                        </p>
                                                        <p class="answer">
                                                            Người đăng review chịu trách nhiệm về tính xác thực của nội
                                                            dung mình đăng lên.<br>
                                                            Nói đơn giản là bạn tin thì tin, không tin thì thôi. Chúng
                                                            tôi không thể kiểm chứng tính xác thực
                                                            của toàn bộ review do người dùng được.
                                                        </p>
                                                        <p class="question font-bold">
                                                            4. Trang này được tạo ra nhằm mục đích gì vậy? Có kiếm được
                                                            tiền không?
                                                        </p>
                                                        <p class="answer">
                                                            Review công ty là website để người dùng chia sẻ kinh nghiệm,
                                                            trải nghiệm làm việc ở các công ty
                                                            IT/Media/Creative. <br>
                                                            Mục tiêu của website là để anh em có chỗ chia sẻ, giúp nhau
                                                            vào được công ty
                                                            ngon, tẩy chay công ty dỏm.
                                                            Hiện tại, chúng tôi hoạt động hoàn toàn phi lợi nhuận.
                                                        </p>
                                                        <p class="question font-bold">
                                                            5. Thông tin của tôi có bị bán cho sếp/HR/nhà tuyển dụng nào
                                                            không?
                                                        </p>
                                                        <p class="answer">
                                                            Chúng tôi không yêu cầu hay lưu trữ <b>bất kì thông tin
                                                            nào</b> của người dùng (cookie, địa chỉ IP,
                                                            số điện thoại) nên không có gì để bán.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <footer class="theme-footer">
            <div class="container">
                <div class="inner-wrapper">
                    <div class="bottom-footer d-flex flex-column flex-md-row align-items-center align-items-md-center justify-content-center justify-content-md-between pt-3 pb-1">
                        <p class="copyright mb-2">© 2020
                            <a href="index.html">Review công ty
                            </a> All Right Reserved
                        </p>
                        <div>
                            <ul class="list-unstyled mb-0 d-flex flex-column flex-md-row align-items-center align-items-md-center justify-content-center justify-content-md-between">
                                <li>
                                    <a class="ml-0 ml-md-3 mr-3 mr-md-0 mb-2" href="giai-dap-thac-mac.html">
                                        Giải đáp thắc mắc - Yêu cầu xóa review
                                    </a>
                                </li>
                                <li>
                                    <a class="ml-0 ml-md-3 mr-3 mr-md-0 mb-2" href="dieu-khoan-su-dung.html">
                                        Điều khoản sử dụng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.bottom-footer -->
                </div>
            </div>
            <!-- /.container -->
        </footer>
    </div>
</div>
<a class="cd-top" href="javascript:void(0);">Top
</a>
<script src="Assets/Lib/jquery-2.2.4.min.js" type="text/javascript">
</script>
<script src="Assets/Lib/bootstrap/js/bootstrap.min.js" type="text/javascript">
</script>
<script src="Assets/App/js/main.js" type="text/javascript">
</script>

<div id="fb-root"></div>
<script async crossorigin="anonymous" defer
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=585028375359473&autoLogAppEvents=1"></script>

</body>

</html>